.container {
  width: 100%;
  margin-left: 3vw;
}

.main-container {
  display: flex; /* sidebar와 visualization view가 수평에 위치하도록 */
}

.view-container {
  min-width: 550px;
  width: 40vw;
  height: 90vh;
  padding: 5px;
  text-align: center;
  overflow-x: hidden; /* hide when horizontally overflowed */
  overflow-y: auto; /* scroll when vertically overflowed */
}

.plan-view-container {
  min-width: 600px;
  width: 45vw;
  height: 90vh;
  padding: 5px;
  text-align: center;
  overflow-x: hidden; /* hide when horizontally overflowed */
  overflow-y: auto; /* scroll when vertically overflowed */
}

.compare-view-container {
  min-width: 500px;
  width: 35vw;
  height: 90vh;
  padding: 5px;
  text-align: center;
  overflow-x: hidden; /* hide when horizontally overflowed */
  overflow-y: auto; /* scroll when vertically overflowed */
}
