.tpch-container {
  display: flex;
  padding-left: 5px;
}

.view-container {
  width: 550px;
  height: 90vh;
  padding: 5px;
  text-align: center;
  overflow-x: hidden; /* hide when horizontally overflowed */
  overflow-y: auto; /* scroll when vertically overflowed */
}

.title {
  font-family: "NanumSquareEB";
  font-size: large;
  color: black;
  padding: 10px;
}

.chart-container {
  padding-bottom: 20px;
}

.plan-container {
  display: flex;
  align-items: center;
}

.node-label {
  font-family: "NanumSquareB";
  font-size: x-small;
  background-color: white;
}
