.tpch-container {
  display: flex;
  padding-left: 5px;
}

.title {
  font-family: 'NanumSquareEB';
  font-size: large;
  color: black;
  background-color: #f0f8ff;
  border-radius: 20px;
  padding: 10px;
  margin-top: 5px;
}

text {
  font-family: 'NanumSquareB';
  font-size: small;
}

.chart-container {
  padding-bottom: 10vh;
}

.legend-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
}

.checkbox-container {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
}

.control-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.control-panel-metric {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5vw;
}
.control-panel-term {
  display: flex;
  justify-content: center;
  align-items: center;
}
.control-panel p {
  font-family: 'NanumSquareB';
  font-size: medium;
  color: black;
}

.x-axis {
  font-family: 'NanumSquareR';
  font-size: small;
  color: black;
}

.y-axis {
  font-family: 'NanumSquareR';
  font-size: x-small;
  color: black;
}

.legend-label {
  font-family: 'NanumSquareB';
  font-size: small;
}

.bar-tooltip {
  position: absolute;
  visibility: hidden;
  font-family: 'NanumSquareB';
  font-size: small;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 4px;
  color: #fff;
  padding: 5px;
}
