.tpch-container {
  display: flex;
}

.plan-view-container {
  width: 45vw;
  padding: 0 5px;
}

.compare-view-container {
  width: 35vw;
  padding: 0 5px;
}

.chart-container {
  padding-bottom: 10vh;
}

.legend-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
}

.x-axis {
  font-family: "NanumSquareR";
  font-size: small;
  color: black;
}

.y-axis {
  font-family: "NanumSquareR";
  font-size: x-small;
  color: black;
}

.legend-label {
  font-family: "NanumSquareB";
  font-size: small;
}

.bar-tooltip {
  position: absolute;
  visibility: hidden;
  font-family: "NanumSquareB";
  font-size: small;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 4px;
  color: #fff;
  padding: 5px;
}
